.clue{
    height:100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 35px;
    cursor: pointer;
}

.well {
  background-color:  #267df4;
}

.heading img {
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 30px;
}

.panel-body {
  display: flex;
  justify-content: center;
}

.panel-heading {
  display: flex;
  justify-content: center;
  background-color: #C2BBF0 !important;
  border-color: #fff ;

}

.container {
  margin: 5% auto;
  background-color: #F4EBE8;
}

h4 {
  font-size: 1.4em;
  text-decoration: none;
}

.category a {
  color: #000;
  text-decoration: none;
}


.category a:hover,
.category a:focus {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #B74F6F;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #B74F6F;
    color: white;
    height: 2%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 70%
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.btn-group-vertical{
  display: block;
  justify-content: center;
}

.btn-primary{
  margin-bottom: 10px;
  background-color: #267df4;

}

.btn-group-vertical{
  margin: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
#myBtn {
  text-decoration: none;

}



